<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ToDoリスト</title>
</head>
<body>
    <h1>今日のToDoリスト</h1>

    <div id="add-task-container">
        <h3>新しいタスクの追加</h3>
        <form action="/todo/add" method="GET">
            <input type="text" name="text" placeholder="例: WebサイトCのコーディング" required>
            <button type="submit">タスク追加</button>
        </form>
    </div>
    
    <div id="todo-list-container">
        <h2>タスク一覧</h2>
        <ul id="todo-list">
        <% if (items.length > 0) { %>
            <% items.forEach(item => { %>
                <li id="todo-<%= item.id %>">
                    <%= item.text %> 
                    <a href="/todo/delete?id=<%= item.id %>" style="margin-left: 10px;">[削除]</a>
                </li>
            <% }); %>
        <% } else { %>
            <li>現在、タスクはありません。</li>
        <% } %>
        </ul>
    </div>
</body>
</html>